<br>
<br>
<br>
<br>
<br>

<h1> Welcome </h1>
<br>

<%= form_for @user do |f| %>

email <br><br> <%= f.text_field :email %><br>
<br>

password <br><br><%= f.password_field :password %><br>
<br>

password confirmation<br><br> <%= f.password_field :password_confirmation %> <br>
<br>

<%= f.submit %>

<% end %>